<!-- <div fxLayout="column" style="padding:52px;transform: scaleX(-1);">
    <div style="text-align: center;transform: scaleX(-1);">
        <h1 style=" padding-bottom:16px;">Customers <span style="color:#ff9d02;">Say</span></h1>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between" class="py-4 border-bottom-mute theme-container">
        <div fxFlex="100" fxFlex.gt-sm="22" fxFlex.sm="40">
            <img class="path" fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="40" src="../../../../assets/Path 2.jpg">
            <img class="cola" fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="40" src="../../../../assets/cola.png">
        </div>
        <div class="about-bgcircle" fxFlex="100" fxFlex.gt-sm="153" fxFlex.sm="40">
            <img fxFlex="100" fxFlex.gt-sm="125" fxFlex.sm="40"
                src="../../../../assets/burger.png">
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="40" style="padding:96px 0px;transform: scaleX(-1);">
            <div style="display: flex;flex-wrap: wrap;">
                <img src="../../../../assets/review.JPG" width="50px" height="50px" style="border-radius: 50%;"> 
                <div style="width:25%;padding:3px 0px 0px 10px">
                <h5 style="margin-bottom:0px;padding-bottom:0px">Durga Santhosh</h5>
                <app-star-rating [maxRating]="5"
                [currentRating]="3"
                (ratingClicked)="onRatingClicked($event)"></app-star-rating>
                </div>
            </div>
            <h6 style="color: #a7a7a7; font-size: 18px;font-weight: 300;">Keep healthy food readily available. When you
                get hungry, you're more likely<br> to eat the first thing you see on the counter. Keep healthy readily
                <br> available when you get hungry, you're more likely to eat the first thing you<br> see on the
                counter. Keep healthy food readily available </h6>
        </div>
    </div>
</div> -->
<div fxLayout="column" style="padding:52px;">
    <div style="text-align: center;">
        <h1 style=" padding-bottom:16px;">Customers <span style="color:#ff9d02;">Say</span></h1>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between" class="py-4 border-bottom-mute theme-container" style="transform: scaleX(-1);">
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="40">
                <mat-card  fxLayout="row" fxLayoutAlign="end end" fxFlex="100" fxFlex.gt-md="55.3" fxFlex.md="50"
                    style="border-radius: 5px 5px 0px 0px;transform: scaleX(1);">
                    <img fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="40"  class="path" src="../../../../assets/Path 2.jpg">
                    <img src="../../../../assets/chicken.png"  fxFlex="100" fxFlex.gt-sm="70" fxFlex.sm="40" style="border-radius: 50%;position: absolute;border:1px solid #ffc468;height:270px;margin-right:-125px;margin-bottom:-70px;">
                    <img src="../../../../assets/sauce.png"  fxFlex="100" fxFlex.gt-sm="79" fxFlex.sm="40" style="border-radius: 50%;position: absolute;height:305px;margin-bottom:-70px;">
             </mat-card>
        </div>
        <!-- <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="40" style="padding:96px 0px;transform: scaleX(-1);">
            <h1 style="padding-bottom: 16px;">About <span style="color:#ff9d02">Us</span></h1>
            <h6 style="color: #a7a7a7; font-size: 18px;font-weight: 300;">Keep healthy food readily available. When you get hungry, you're more likely<br> to eat the first thing you see on the counter. Keep healthy readily <br> available when you get hungry, you're more likely to eat the first thing you<br> see on the counter. Keep healthy food readily available </h6>
        </div> -->
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="40" style="padding:96px 0px;transform: scaleX(-1);">
            <div style="display: flex;flex-wrap: wrap;width:230%">
                <img src="../../../../assets/review.JPG" width="50px" height="50px" style="border-radius: 50%;"> 
                <div style="width:25%;padding:3px 0px 0px 10px">
                <h5 style="margin-bottom:0px;padding-bottom:0px">Durga Santhosh</h5>
                <app-star-rating [maxRating]="5"
                [currentRating]="3"
                (ratingClicked)="onRatingClicked($event)"></app-star-rating>
                </div>
            </div>
            <h6 style="color: #a7a7a7; font-size: 18px;font-weight: 300;">Keep healthy food readily available. When you
                get hungry, you're more likely<br> to eat the first thing you see on the counter. Keep healthy readily
                <br> available when you get hungry, you're more likely to eat the first thing you<br> see on the
                counter. Keep healthy food readily available </h6>
        </div>
    </div>
</div>