.mat-toolbar{
    background-color: transparent !important;
    box-shadow: none !important;
}
.logo{
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    // padding-left:20px;
}
.nav-link{
    font-size: large;
    font-weight: 500;
}
// @import "../../styles/mixins";
@mixin menu-level-padding(){
    $elem: '';
    @for $i from 2 through 10 {
        $elem: if($i == 2, ".sub-menu", selector-nest($elem, ".sub-menu"));      
        #{$elem + ' .mat-mdc-button'} { 
            padding-left: 16px + (20px * $i); 
        }
    }
}

@mixin admin-menu-level-padding($direction){
    $elem: '';
    @for $i from 3 through 10 {
        $elem: if($i == 3, ".sub-menu", selector-nest($elem, ".sub-menu"));      
        #{$elem + ' .mat-mdc-button'} { 
            @if $direction == "rtl" {
                padding-right: 20px * $i; 
            } 
            @else{
                padding-left: 20px * $i; 
            }
        }
    }
}
.menu-item{    
    .mat-mdc-button{
        width: 100%;
        font-weight: 400;
        text-transform: uppercase;
        .mat-icon.menu-expand-icon {
            position: absolute;
            right: 10px;
            top: 10px;
        }
        &.expanded{
            .menu-expand-icon{
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
    }   
} 

.sub-menu{
    @include menu-level-padding();
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.25s ease-out;  
    -moz-transition: max-height 0.25s ease-out;  
    transition: max-height 0.25s ease-out;    
    .mat-mdc-button{
        padding-left: 36px;      
    } 
    &.show{
        max-height: 500px;
        -webkit-transition: max-height 0.25s ease-in;
        -moz-transition: max-height 0.25s ease-in;
        transition: max-height 0.25s ease-in;
    }    
}
.main{
    min-height: 400px;
    min-height: calc(100vh - 288px);
    padding: 16px;
    box-sizing: border-box;
}
.sidenav{
    width: 250px;
    padding: 8px 16px;
    position: fixed;
    .close{
        margin-left: 178px;
    }
    .divider{
        margin: 8px 0;
    }
}