<div fxLayout="column" style="padding:52px;">
    <div style="text-align: center;">
        <h1 style=" padding-bottom:16px;">Most Popular <span style="color:#ff9d02;">Food</span></h1>
    </div>
    <div fxLayout="row wrap" style="justify-content: center;">
        <div fxFlex="100" fxFlex.gt-md="20.3" fxFlex.md="50" style="padding:0px 15px 10px 15px">
            <mat-card style="height:100%;border-radius: 5px;">
                <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100" fxFlex.gt-md="55.3" fxFlex.md="50"
                    style="border-radius: 5px 5px 0px 0px;">
                    <img src="../../../../assets/mostfam1.jpg" class="w-100" style="border-radius: 15px;">
                </div>
                <div class="user-content" fxLayout="column" style="padding: 0px  10px 20px 10px;">
                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between end" style="margin-top: 15px;"
                        class="user-details transition-2">
                        <h3>Biryani's</h3>
                        <button class="mst-btn">click here</button>
                    </div>
                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 15px;"
                    class="user-details transition-2">
                    <app-star-rating [maxRating]="5" [currentRating]="3"
                        (ratingClicked)="onRatingClicked($event)"></app-star-rating>
                    <div>
                        <p class="m-0" style="color: #a7a7a7;">starts from</p>
                        <h3>₹ 150/-</h3>
                    </div>
                </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex="100" fxFlex.gt-md="20.3" fxFlex.md="50" style="padding:0px 15px 10px 15px">
            <mat-card style="height:100%;border-radius: 5px;">
                <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100" fxFlex.gt-md="55.3" fxFlex.md="50"
                    style="border-radius: 5px 5px 0px 0px;">
                    <img src="../../../../assets/mostfam2.jpg" class="w-100" style="border-radius: 15px;">
                </div>
                <div class="user-content" fxLayout="column" style="padding: 0px  10px 20px 10px;">
                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between end" style="margin-top: 15px;"
                        class="user-details transition-2">
                        <h3>Biryani's</h3>
                        <button class="mst-btn">click here</button>
                    </div>
                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 15px;"
                        class="user-details transition-2">
                        <app-star-rating [maxRating]="5" [currentRating]="3"
                            (ratingClicked)="onRatingClicked($event)"></app-star-rating>
                        <div>
                            <p class="m-0" style="color: #a7a7a7;">starts from</p>
                            <h3>₹ 150/-</h3>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex="100" fxFlex.gt-md="20.3" fxFlex.md="50" style="padding:0px 15px 10px 15px">
            <mat-card style="height:100%;border-radius: 5px;">
                <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100" fxFlex.gt-md="55.3" fxFlex.md="50"
                    style="border-radius: 5px 5px 0px 0px;">
                    <img src="../../../../assets/mostfam3.jpg" class="w-100" style="border-radius: 15px;">
                </div>
                <div class="user-content" fxLayout="column" style="padding: 0px  10px 20px 10px;">
                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between end" style="margin-top: 15px;"
                        class="user-details transition-2">
                        <h3>Biryani's</h3>
                        <button class="mst-btn">click here</button>
                    </div>
                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 15px;"
                    class="user-details transition-2">
                    <app-star-rating [maxRating]="5" [currentRating]="3"
                        (ratingClicked)="onRatingClicked($event)"></app-star-rating>
                    <div>
                        <p class="m-0" style="color: #a7a7a7;">starts from</p>
                        <h3>₹ 150/-</h3>
                    </div>
                </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex="100" fxFlex.gt-md="20.3" fxFlex.md="50" style="padding:0px 15px 10px 15px">
            <mat-card style="height:100%;border-radius: 5px;">
                <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100" fxFlex.gt-md="55.3" fxFlex.md="50"
                    style="border-radius: 5px 5px 0px 0px;">
                    <img src="../../../../assets/mostfam.4.jpg" class="w-100" style="border-radius: 15px;">
                </div>
                <div class="user-content" fxLayout="column" style="padding: 0px  10px 20px 10px;">
                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between end" style="margin-top: 15px;"
                        class="user-details transition-2">
                        <h3>Biryani's</h3>
                        <button class="mst-btn">click here</button>
                    </div>
                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 15px;"
                    class="user-details transition-2">
                    <app-star-rating [maxRating]="5" [currentRating]="3"
                        (ratingClicked)="onRatingClicked($event)"></app-star-rating>
                    <div>
                        <p class="m-0" style="color: #a7a7a7;">starts from</p>
                        <h3>₹ 150/-</h3>
                    </div>
                </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
