<!-- <div fxLayout="column" style="padding:52px;">
<div fxLayout="row wrap" fxLayoutAlign="space-between" class="py-4 border-bottom-mute theme-container">
    <div fxFlex="100" fxFlex.gt-sm="22" fxFlex.sm="40"> 
        <img class="path" fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="40" src="../../../../assets/Path 2.jpg">
        <img class="cola" fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="40" src="../../../../assets/cola.png">
    </div>  
    <div class="about-bgcircle" fxFlex="100" fxFlex.gt-sm="153" fxFlex.sm="40" >
       <img fxFlex="100" fxFlex.gt-sm="153" fxFlex.sm="40" style="width:159%;margin-right: 56px;" src="../../../../assets/about.png">
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="40" style="padding:96px 0px;">
        <h1 style="padding-bottom: 16px;">About <span style="color:#ff9d02">Us</span></h1>
        <h6 style="color: #a7a7a7; font-size: 18px;font-weight: 300;">Keep healthy food readily available. When you get hungry, you're more likely<br> to eat the first thing you see on the counter. Keep healthy readily <br> available when you get hungry, you're more likely to eat the first thing you<br> see on the counter. Keep healthy food readily available </h6>
    </div>
</div>
</div> -->
<!-- <div fxLayout="column" style="padding:52px;">
    <div fxLayout="row wrap" fxLayoutAlign="space-between" class="py-4 border-bottom-mute theme-container">
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="40">
             <img fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="40"  class="path" src="../../../../assets/Path 2.jpg">
                <div class="about-bgcircle">
                    <div class="cola">
                        <img class="sauce" src="../../../../assets/sauce.png">
                        <img class="chicken"  src="../../../../assets/chicken.png">
                    </div>
                      
                </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="40" style="padding:96px 0px;">
            <h1 style="padding-bottom: 16px;">About <span style="color:#ff9d02">Us</span></h1>
            <h6 style="color: #a7a7a7; font-size: 18px;font-weight: 300;">Keep healthy food readily available. When you get hungry, you're more likely<br> to eat the first thing you see on the counter. Keep healthy readily <br> available when you get hungry, you're more likely to eat the first thing you<br> see on the counter. Keep healthy food readily available </h6>
        </div>
    </div>
</div> -->


<!-- <div fxLayout="column" style="padding:52px;">
    <div fxLayout="row wrap" fxLayoutAlign="space-between" class="py-4 border-bottom-mute theme-container">
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="40">
             <img fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="40"  class="path" src="../../../../assets/Path 2.jpg">
             <mat-card style="height:100%;border-radius: 5px;">
                <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100" fxFlex.gt-md="55.3" fxFlex.md="50"
                    style="border-radius: 5px 5px 0px 0px;">
                    <img src="../../../../assets/mostfam1.jpg" class="w-100" style="border-radius: 15px;">
                </div>
             </mat-card>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="40" style="padding:96px 0px;">
            <h1 style="padding-bottom: 16px;">About <span style="color:#ff9d02">Us</span></h1>
            <h6 style="color: #a7a7a7; font-size: 18px;font-weight: 300;">Keep healthy food readily available. When you get hungry, you're more likely<br> to eat the first thing you see on the counter. Keep healthy readily <br> available when you get hungry, you're more likely to eat the first thing you<br> see on the counter. Keep healthy food readily available </h6>
        </div>
    </div>
</div> -->

<div fxLayout="column" style="padding:52px;" >
    <div fxLayout="row wrap" fxLayoutAlign="space-between" class="py-4 border-bottom-mute theme-container">
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="40">
                <mat-card  fxLayout="row" fxLayoutAlign="end end" fxFlex="100" fxFlex.gt-md="55.3" fxFlex.md="50"
                    style="border-radius: 5px 5px 0px 0px;">
                    <img fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="40"  class="path" src="../../../../assets/Path 2.jpg">
                    <img src="../../../../assets/chicken.png"  fxFlex="100" fxFlex.gt-sm="70" fxFlex.sm="40" style="border-radius: 50%;position: absolute;border:1px solid #ffc468;height:270px;margin-right:-125px;margin-bottom:-70px;">
                    <img src="../../../../assets/sauce.png"  fxFlex="100" fxFlex.gt-sm="79" fxFlex.sm="40" style="border-radius: 50%;position: absolute;height:305px;margin-bottom:-70px;">
             </mat-card>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="40" style="padding:96px 0px;">
            <h1 style="padding-bottom: 16px;">About <span style="color:#ff9d02">Us</span></h1>
            <h6 style="color: #a7a7a7; font-size: 18px;font-weight: 300;">Keep healthy food readily available. When you get hungry, you're more likely<br> to eat the first thing you see on the counter. Keep healthy readily <br> available when you get hungry, you're more likely to eat the first thing you<br> see on the counter. Keep healthy food readily available<br><button mat-button class="know-more">Know More</button> </h6>
        </div>
    </div>
</div>