<!-- <div  class="menu-item">
    <a  mat-button
        fxLayout="row" fxLayoutAlign="start center"
         routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"        >
        <span class="menu-title">menu.title | translate </span>
    </a>
    <a  mat-button 
        fxLayout="row" fxLayoutAlign="start center">
        <span class="menu-title"> menu.title | translate </span>
    </a>
    <a mat-button 
        fxLayout="row" fxLayoutAlign="start center">
        <span class="menu-title">menu.title | translate</span>
        <mat-icon class="menu-expand-icon transition-2">arrow_drop_down</mat-icon>
    </a>

    <div class="sub-menu">
        <app-sidenav-menu></app-sidenav-menu>
    </div>
</div> -->