<div fxLayout="column" style="padding:52px;">
<div style="text-align: center;padding-bottom: 16px;">
    <h1>Why You Choose Our <span style="color:#ff9d02">Food</span></h1>
</div>
<div fxLayout="row wrap" fxFlex="100" fxFlex.gt-md="13.3" fxFlex.md="50" fxLayoutAlign="space-evenly">
    <div fxFlex="100" fxFlex.gt-md="13.3" fxFlex.md="50">
        <mat-card style="padding:15px 20px">
            <div  fxLayout="row" fxLayoutAlign="start" fxFlex="100" fxFlex.gt-md="55.3" fxFlex.md="50" style="padding-bottom: 25px;">
                <a href="#" class="choose-cir"><i class="fa-solid fa-utensils" style="color:#ff9d02; font-size: 36px;"></i></a>
            </div>
            <div class="user-content"   fxLayout="column">
                <h3 style="padding-bottom: 15px;">Quality Food</h3>
                <h6 style="color: #a7a7a7; font-size: 12px;font-weight: 300;padding-bottom: 15px;">Keep healthy food readily available. When you get hungry, you're more likely to eat </h6>
            </div>
        </mat-card>                
    </div>
    <div fxFlex="100" fxFlex.gt-md="13.3" fxFlex.md="50">
        <mat-card style="padding:15px 20px">
            <div  fxLayout="row" fxLayoutAlign="start" fxFlex="100" fxFlex.gt-md="55.3" fxFlex.md="50" style="padding-bottom: 25px;">
                <a href="#" class="choose-cir"><mat-icon style="color:#ff9d02; font-size: 34px;">ramen_dining</mat-icon></a>
            </div>
            <div class="user-content"   fxLayout="column">
                <h3 style="padding-bottom: 15px;">Super Taste</h3>            
                <h6 style="color: #a7a7a7; font-size: 12px;font-weight: 300;padding-bottom: 15px;">Keep healthy food readily available. When you get hungry, you're more likely to eat </h6>
            </div>
        </mat-card>                
    </div>
    <div fxFlex="100" fxFlex.gt-md="13.3" fxFlex.md="50">
        <mat-card style="padding:15px 20px">
            <div  fxLayout="row" fxLayoutAlign="start" fxFlex="100" fxFlex.gt-md="55.3" fxFlex.md="50" style="padding-bottom: 25px;">
                <a href="#" class="choose-cir"><img style="height:36px;" src="../../../../assets/motorbike.png"></a>
            </div>
            <div class="user-content"   fxLayout="column">
                <h3 style="padding-bottom: 15px;">Fast Delivery</h3>
                <h6 style="color: #a7a7a7; font-size: 12px;font-weight: 300;padding-bottom: 15px;">Keep healthy food readily available. When you get hungry, you're more likely to eat </h6>
            </div>
        </mat-card>                
    </div>
</div>
</div>