<div fxLayout="column" style="width:100%;overflow: hidden;">
  <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="40" fxLayout="row wrap" fxLayoutAlign="space-between" class="border-bottom-mute theme-container m-0 wid" style="transform: scaleX(-1); max-width: 100% !important;">
    <app-home-menu  style="position: absolute;width: 100%; transform: scaleX(-1);z-index: 1;"></app-home-menu>
      <div fxFlex="100" fxFlex.gt-sm="60" fxFlex.sm="40" fxLayoutAlign="end" style="transform: scaleX(-1);">
           <mat-card fxLayout="row" fxLayoutAlign="end end" fxFlex="100" fxFlex.gt-md="55.3" fxFlex.md="50" style="border-radius: 5px 5px 0px 0px; position: relative;box-shadow: none;">
            <img fxFlex="100" fxFlex.gt-sm="130" fxFlex.sm="40" class="path" src="../../../../assets/Path 2.jpg">
            <img src="../../assets/biryanis.png" fxFlex="35" fxFlex.gt-sm="60" fxFlex.sm="40" style="border-radius: 50%; position: absolute; top: 50%; left: 32%; transform: translate(-50%, -50%); border: 1px solid #ffc468; max-height: 100%; max-width: 100%;background-color: white;padding: 30px;">
            <img src="../../assets/burger.png" fxFlex="20" fxFlex.gt-sm="20" fxFlex.sm="40" style="border-radius: 50%; position: absolute; top: 50%; left: 82%; transform: translate(-50%, -50%); border: 1px solid #ffc468; max-height: 100%; max-width: 100%; background-color: white;">
            <img src="../../assets/milkshakes.png" fxFlex="100" fxFlex.gt-sm="15" fxFlex.sm="40" style="border-radius: 50%; position: absolute; top: 72%; left: 70%; transform: translate(-50%, -50%); border: 1px solid #ffc468; max-height: 100%; max-width: 100%; background-color: white;height:11%">
            <img src="../../assets/noodles.png" fxFlex="100" fxFlex.gt-sm="8" fxFlex.sm="40" style="border-radius: 50%; position: absolute; top: 85%; left: 43%; transform: translate(-50%, -50%); border: 1px solid #ffc468; max-height: 100%; max-width: 100%; background-color: white;height:6%">
        </mat-card>
        
      </div>
      <div fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="40" fxLayout="column" fxLayoutAlign="center center" style="padding:96px 0px;transform: scaleX(-1);">
        <div>
          <h1 class="main-txt">We Serve <br>Delicious <span style="color: #ff9d02;">Food</span></h1>
          <p class="home-txt">Keep it easy with these simple but delicious recipes from make-ahead<br>
            lunches and midweek meals to fuss-free sides</p>
        </div>
      </div>
  </div>
  <!-- <div id="about-us-section">
    <app-about-us></app-about-us>
  </div> -->
<app-about-us id="about-us-section" ></app-about-us>
<app-most-popular></app-most-popular>
<app-choose-our></app-choose-our>
<app-customer-say></app-customer-say>
<app-footer></app-footer>
</div>